@model TCC.Models.User

@{
    Layout = null;
}
<div class="sidebar-header">
    <div class="user-pic">
        <img class="img-responsive img-rounded" src="~/Images/user.jpg" alt="User picture">
    </div>
    <div class="user-info">
        <span class="user-name">
            @Model.Name
            <strong>@Model.LastName</strong>
        </span>
        <span class="user-role">Administrador</span>
        <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
        </span>
    </div>
</div>