.btn a{
    color: #fff;
}

.sorting_asc::after,
.sorting_asc::before,
.sorting::after,
.sorting::before,
.sorting_desc::after,
.sorting_desc::before {
    display: none !important;
}

.page-content h2 {
    text-align: center;
}


@media screen and (min-width: 600px) {
    .page-content {
        text-align: left;
    }
}